@model MoIS.Models.DetailsViewModel

@{

    if (Session["maID"] == null && @ViewData["print"] != "print")
    {
        Response.Redirect("~/Login/Index");
    }
}
@if (@ViewData["print"] == "print")
{
    <style>
        /* .form-control {
            border: none !important;
            box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        }*/

        .navbar-fixed-top {
            display: none;
        }

        .container {
            margin-top: 0px;
        }
    </style>
}
<style>
    .container input {
        display: none;
    }

    .container select {
        display: none;
    }

    .container input[type=checkbox] {
        display: inline;
    }

    .container input[type=radio] {
        display: inline;
    }
</style>
<h2>BORANG KES DIBAWA MATI</h2>

<div>
    <h4>Bagi kes-kes kematian yang dibawa ters oleh polis ke Jabatan Forensik bersama-same dengan borang POL61</h4>
    <hr />
    <div class="container" style="width:100%;margin-top:2%">
        <ul class="list-group">

            @foreach (var item in Model.deceasedList)
            {
                <li style="color:transparent">
                    @if (@ViewData["print"] != "print")
                    {
                        <p>
                            @Html.ActionLink("Convert View To PDF", "PrintViewToPdf", "Home", new { eId = @ViewData["deceasedId"], page = "BringToDeathReport" }, htmlAttributes: new { @class = "btn btn-primary" })
                            @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default" })
                        </p>
                    }
                </li>

                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <thead style="border:none;">
                            <tr>
                                <th style="border:none;" colspan="4">1. Butir-butir simati:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Nama Simati:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">@item.DeceasedName</td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>No. Kad Pengenalan/Passport:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">@item.NoIC</td>
                            </tr>
                        </tbody>
                    </table>
                </li>

                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Bangsa:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">@item.Race</td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Agama:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">@item.Religion</td>
                            </tr>
                        </tbody>
                    </table>
                </li>

                <li class="list-group-item">
                                       <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Umur:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>@item.Age:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Warganegara:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">
                                    @if (@item.Nationality == "Malaysian")
                                    {
                                        @item.Nationality
                                    } else
                                    {
                                    <p>Tidak....................(Nyatakan)</p>
                                    }
                                    </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Jantina:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none; text-align:left;"><i>@item.Gender</i></td>
                            </tr>
                        </tbody>
                    </table>
                </li>

                <li class="list-group-item">
                    <i>Alamat terakhir simati:</i> @item.Address
                </li>
                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <thead style="border:none;">
                            <tr>
                                <th style="border:none;" colspan="2">2. Butir-butir pembawa simati:</th>
                                <th style="border:none;" colspan="2">3. Butir-butir Pegawai Penyiasat kes:</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Nama:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Nama:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Jawatan:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Jawatan:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>No & Pangkat:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>No & Pangkat:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>No. Tel:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>No. Tel:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><b>Balai Polis:</b></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;"><b>No. Rpt. Polis:</b></td>
                                <td style="padding-left: 0px; width:25%; border:none;">
                                    @if (@ViewData["noRptPolis"] != null && @ViewData["noRptPolis"] != "")
                                    {
                                        @ViewData["noRptPolis"]
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </li>

                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Tarikh dan masa tiba di Jabatan Forensik:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">@item.DateOfRegistration</td>
                                <td style="padding-left: 0px; width:25%; border:none;"><i>Tarikh dan Masa dilapurkan mati:</i></td>
                                <td style="padding-left: 0px; width:25%; border:none;">@item.DateOfDeath</td>
                            </tr>
                        </tbody>
                    </table>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class='col-md-8 col-xs-12'>
                            @foreach (var item3 in Model.medicalassistantPenerimaList)
                            {
                                <b>4. Butir-butir Penolong Pegawai Perubatan Kaunter yang menerima kes:</b>
                                <br />
                                <i>Nama: </i>@item3.MaName
                                <br />
                                <i>Tarikh & Mmasa: </i>@item.DateOfRegistration
                                <br />
                                <i>Tandatangan: </i>
                            }
                        </div>
                        <div class='col-md-6 col-xs-12'>
                        </div>
                    </div>
                </li>

                <li class="list-group-item pagebreak">
                    <div class="row">
                        <div class='col-md-8 col-xs-12'>
                            <table class="table">
                                <thead><tr><th><b><i>Bil</i></b></th><th><b>Tanda-tanda kematian adalah berdasarkan:</b></th><th><b>Pegawai Polis</b></th><th><b>Peg. Perubatan/Pen. Peg. Perubatan</b></th></tr></thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item2 in ViewBag.tableTanda)
                                    {
                                        <tr><td><i>@i</i></td><td><i>@item2</i></td><td><input class="form-control" /></td><td><input class="form-control" /></td></tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class='col-md-4 col-xs-12'>
                            <div style="border: 1px solid black; padding: 10px;">
                                <u><b>Pemeriksaan Vital</b></u>
                                <br />
                                <div class="row">
                                    <div class='col-md-12 col-xs-12'>
                                        <label class="control-label col-md-6">Tekanan Darah</label><div class="col-md-6"><input type="checkbox" class="form-control" /></div>
                                        <label class="control-label col-md-6">Kadar Nadi</label><div class="col-md-6"><input type="checkbox" class="form-control" /></div>
                                        <label class="control-label col-md-6">Kadar Pernafasan</label><div class="col-md-6"><input type="checkbox" class="form-control" /></div>
                                        <label class="control-label col-md-6">Suhu</label><div class="col-md-6"><input type="checkbox" class="form-control" /></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;">Tandatangan Pegawai Penyiasat:</td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;">Disokong Oleh:</td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;"><textarea class="form-control"></textarea></td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;" colspan="2"><textarea class="form-control"></textarea></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 0px; width:25%; border:none;">Tarikh & Masa : @DateTime.Now.ToString("yyyy-m-d H:mm:ss")</td>
                                <td style="padding-left: 0px; width:25%; border:none;"></td>
                                <td style="padding-left: 0px; width:25%; border:none;" colspan="2"><i>Pegawai Perubatan/ Pen. Peg. Perubatan Jabatan Perubatan Forensik Sarawak.</i></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            }
        </ul>

    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $('input[type="checkbox"]').attr("disabled", true);
    $('input[type="radio"]').attr("disabled", true);
</script>