@model IEnumerable<MoIS.Models.deceased>
@using MoIS.Helper
@using MoIS.CONSTANT
<link href="@Url.Content("~/Content/jquery.datatables.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

@{

    if (Session["maID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div>


    <div class="page-header">
        <h1>Dashboard</h1>
        <div>Today is : @DateTime.Now.DayOfWeek</div>
        <div class="clearfix"></div>
    </div>


</div>
<div class="form-group">
    @Html.ActionLink("Create Deceased", "Create", "Home", new { @class = "btn btn-primary" })
</div>
<div class="container" style="width:100%;margin-top:2%">

    <!--<b>Search By : </b>
     <select id="SearchBy">
         <option value="DeceasedName">Name</option>
         <option value="NoIC">Ic No</option>
     </select><br /><br />
     @Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />-->
    
    @if (Model != null)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Ic No
                    </th>
                    <th>
                        Type Of Case
                    </th>
                    <th>
                        Date of Registration
                    </th>
                    <th>Action</th>
                    <th>Report</th>
                    <th>Deceased Status</th>
                    <th>QR Code</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.DeceasedName, "McdPmcDetails", new { eId = @ViewData["ID" + item.DeceasedID] })
                    </td>
                    <td>
                        @item.NoIC
                    </td>

                    @if (item.TypeOfCase == 0)
                    {
                        <td>
                            Police Case
                        </td>
                    }
                    else
                    {
                        <td>
                            Normal Case
                        </td>
                    }
                    <td>
                        @item.DateOfRegistration
                    </td>
                    <td>
                        @Html.ActionLink("Release Body Process", "NextProcess", new { eId = @ViewData["ID" + item.DeceasedID] }) |
                        @Html.ActionLink("Butiran Pengurus Mayat", "BPM", new { eId = @ViewData["ID" + item.DeceasedID] }) |
                        @Html.ActionLink("Butiran Bedah Siasat", "BBS", new { eId = @ViewData["ID" + item.DeceasedID] }) |
                        @Html.ActionLink("Edit", "Edit", new { eId = @ViewData["ID" + item.DeceasedID] })
                    </td>
                    <td>
                        @Html.ActionLink("BringToDeathReport", "BringToDeathReport", new { eId = @ViewData["ID" + item.DeceasedID] }) |
                        @Html.ActionLink("BorangPSML", "BorangPSML", new { eId = @ViewData["ID" + item.DeceasedID] }) |
                        @Html.ActionLink("AutopsyProtocol", "AutopsyProtocol", new { eId = @ViewData["ID" + item.DeceasedID] }) |
                        @Html.ActionLink("BorangPBPFT", "BorangPBPFT", new { eId = @ViewData["ID" + item.DeceasedID] })
                    </td>
                    @if (item.Status == 1)
                    {
                        <td>
                            @Html.ActionLink("Active", "ChangeStatus", "Home", new { eId = @ViewData["ID" + item.DeceasedID] }, htmlAttributes: new { @class = "btn btn-success", onClick = "javascript:return confirm_change();" })
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Inactive", "ChangeStatus", "Home", new { eId = @ViewData["ID" + item.DeceasedID] }, htmlAttributes: new { @class = "btn btn-danger", onClick = "javascript:return confirm_change();" })
                        </td>
                    }
                    <td>
                        <a href="@ViewData["DomainUrl"]/Qr/QrDetails?eId=@ViewData["ID" + item.DeceasedID]" style="color:#000000;font-size: 25px;" target="_blank"><i class="fas fa-qrcode"></i></a>
                        @*<a href="@ViewData["QRLink"]?eId=@ViewData["ID" + item.DeceasedID]" style="color:#000000;font-size: 25px;" target="_blank"><i class="fas fa-qrcode"></i></a>*@
                    </td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/jQuery.flashMessage.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>

<script>
    $('.table').dataTable({
        stateSave: true
    });
    function confirm_change() {
        var confrm;
        confrm = window.confirm("Confirm change user status?");

        return confrm;
    }
</script>
