@model MoIS.Models.DetailsViewModel
@if (@ViewData["print"] == "print")
{
    //Layout = null;
}
@{
    if (Session["maID"] == null && @ViewData["print"] != "print")
    {
        Response.Redirect("~/Login/Index");
    }
}

@if (@ViewData["print"] == "print")
{
    <style>
        .form-control {
            border: none !important;
            box-shadow: inset 0 0px 0px rgba(0,0,0,0.075) !important;
        }
        .navbar-fixed-top {
            display: none;
        }
        .container {
            margin-top: 0px;
        }
    </style>
}

<div class="container" style="width:100%;margin-top:2%">
    <ul class="list-group">

        @foreach (var item in Model.deceasedList)
        {
            string num = @item.NoIC;
            string substr = num.Substring(num.Length - 1);
            int x = Int32.Parse(substr);
            int typeofcase = @item.TypeOfCase;
            int deceasedid = item.DeceasedID;
            var symbol = "@";
            Session["id"] = deceasedid;

        <li style="color:transparent">
            @if (@ViewData["print"] != "print")
            {
            <p>
                @Html.ActionLink("Convert View To PDF", "PrintViewToPdf", "Home", new { eId = @ViewData["eId"], page = "McdPmcDetails" }, htmlAttributes: new { @class = "btn btn-primary" })
                @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-default" })
            </p>
            }
        </li>
            <li class="list-group-item active">BUTIRAN SIMATI</li>
            <li class="list-group-item">
                <div class='row'>
                    <div class='col-md-6 col-xs-12'>
                        <p><b>NO. PENDAFTARAN: @Model.NoRegistration</b></p>
                        (a) NAMA: <b>@item.DeceasedName</b>
                    </div>
                    <div class='col-md-6 col-xs-12'>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                (b) ALAMAT: <b>@item.Address</b>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(c) POSKOD: <b>@item.Postcode</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;">(d) BANDAR: <b>@ViewData["City"]</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;">(e) NEGERI: <b>@ViewData["State"]</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(f) NO. KAD PENGENALAN: <b>@item.NoIC</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(g) UMUR: <b>@item.Age</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(h) JANTINA: <b>@item.Gender</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;">(i) BANGSA: <b>@item.Race</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;">(j) AGAMA: <b>@item.Religion</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(k) NO. PENDAFTARAN HOSPITAL: <b>@item.NoOfHospitalRegister</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">TARIKH AND MASA PENDAFTARAN: <b>@String.Format("{0:yyyy-MM-dd}", @item.DateOfRegistration)</b>@symbol<b>@String.Format("{0:H:mm:ss}", @item.DateOfRegistration)</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(l) TARIKH AND MASA WAD: <b>@String.Format("{0:yyyy-MM-dd}", @item.DateOfWad)</b>@symbol<b>@String.Format("{0:H:mm:ss}", @item.DateOfWad)</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(m) TARIKH AND MASA KEMATIAN: <b>@String.Format("{0:yyyy-MM-dd}", @item.DateOfDeath)</b>@symbol<b>@String.Format("{0:H:mm:ss}", @item.DateOfDeath)</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>


            if (typeofcase == 1)
            {
                <li class="list-group-item">KES : <b>KES BIASA</b></li>
            }
            else
            {
                <li class="list-group-item">KES: <b>KES POLIS</b></li>
            }
        }
    </ul>
    <ul class="list-group">
        @foreach (var item in Model.medicalassistantPenerimaList)
        {
            <li class="list-group-item active">BUTIRAN PENERIMA JASAD SIMATI</li>
            <li class="list-group-item">
                @foreach (var item2 in Model.deceasedList)
                {
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:33%; border:none;">(a) TARIKH: <b>@String.Format("{0:yyyy-MM-dd}", @item2.DateOfWad)</b></td>
                                <td style="padding-left: 0px; width:33%; border:none;">(b) MASA: <b>@String.Format("{0:H:mm:ss}", @item2.DateOfWad)</b></td>
                                <td style="padding-left: 0px; width:33%; border:none;">(c) WAD/UNIT: <b>@item2.WadUnit</b></td>
                            </tr>
                        </tbody>
                    </table>
                }
            </li>
            <li class="list-group-item">
                (d) NAME PEGAWAI YANG MENERIMA: <b>@item.MaName</b>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(e) JAWATAN: <b>@item.Role</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(f) NO. KAD PENGENALAN: <b>@item.MaIcNo</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        }
    </ul>

    <ul class="list-group">
        @foreach (var item in Model.butiranmcdpmcList)
        {
            <li class="list-group-item active">BUTIRAN MCD/PMC</li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(a) NO. <i>MCD</i>: <b>@item.NoMCD</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">NO. <i>PMC</i>: <b>@item.NoPMC</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            foreach (var item2 in Model.medicalassistantPegawaiperubatanList)
            {
                <li class="list-group-item">
                    <div class='row'>
                        <div class='col-md-6 col-xs-12'>
                            (b) NAMA PEG. PERUBATAN YANG SAHKAN SEBAB KEMATIAN: <b>@item2.MaName</b>
                        </div>
                        <div class='col-md-6 col-xs-12'>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:33%; border:none;">(c) NO. KAD PENGENALAN PEG. PERUBATAN: <b>@item2.MaIcNo</b></td>
                                <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(d) SEBAB KEMATIAN: <b>@item.SebabKematian</b></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            }
        }
    </ul>

    @if (Model.butiranbedahsiasatList != null)
    {
        <ul class="list-group pagebreak">
            @foreach (var item in Model.butiranbedahsiasatList)
            {
                <li class="list-group-item active">BUTIRAN BEDAH SIASAT (JIKA DIJANLANKAN)</li>
                <li class="list-group-item">
                    <div class='row'>
                        <div class='col-md-6 col-xs-12'>
                            (a) NO. BEDAH SIASAT: <b>@item.NoBedahSiasat</b>
                        </div>
                        <div class='col-md-6 col-xs-12'>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:33%; border:none;">(b) TARIKH: <b>@item.NoBedahSiasat</b></td>
                                <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(c) MASA: <b>@item.DateTimeBS</b></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
                <li class="list-group-item">
                    <table width="100%" style="border:none;">
                        <tbody>
                            <tr>
                                <td style="padding-left: 0px; width:33%; border:none;">(d) NO. LAPORAN POLIS: <b>@item.NoLaporanPolis</b></td>
                                <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(e) TARIKH DAN MASA POL. 61 DITERIMA: <b>@item.DateTimePOL</b></td>
                            </tr>
                        </tbody>
                    </table>
                </li>
            }
        </ul>
    }

    <ul class="list-group">
        @foreach (var item in Model.butiranwariList)
        {
            <li class="list-group-item active">BUTIRAN WARIS YANG TERIMA DAN AKUAN TERIMA JASAD SIMATI</li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">SAYA <b>@item.WarisName</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">NO. KAD PENGENALAN <b>@item.WarisNoIC</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
              
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="3">BERALAMAT <b>@item.Alamat</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">DAN NO. TELEFON <b>@item.PhoneNo</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(PERHUBUNGAN SIMATI) <b>@item.Perhubungan</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="3">DENGAN INI MEGAKU MENERIMA JASAD <b>_____________________________________________________</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">TARIKH <b>@DateTime.Now.ToString("yyyy-mm-dd")</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">MASA <b>@DateTime.Now.ToString("H:m:ss")</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <div class='row'>
                    <div class='col-md-6 col-xs-12'>
                        <table class="table">
                            <thead><tr><th></th><th>TARIKH</th><th>MASA</th></tr></thead>
                            <tbody>
                                <tr><td>TUNTUTAN</td><td>@String.Format("{0:yyyy-MM-dd}", @item.DateTimeRequest)</td><td>@String.Format("{0:H:mm:ss}", @item.DateTimeRequest)</td></tr>
                                <tr><td>SERAHAN</td><td>@String.Format("{0:yyyy-MM-dd}", @item.DateTimeReturn)</td><td>@String.Format("{0:H:mm:ss}", @item.DateTimeReturn)</td></tr>
                            <tbody>
                        </table>
                    </div>                  
                </div>
            </li>
        }
    </ul>

    <ul class="list-group">
        @foreach (var item in Model.medicalassistantPegawaimenyerahkanList)
        {
            <li class="list-group-item active">BUTIRAN PEGAWAI YANG MENYERAHKAN JASAD SIMATI</li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(a) NAMA: <b>@item.MaName</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(b) JAWATAN: <b>@item.Role</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(a) (c) NO. KAD PENGENALAN: <b>@item.MaIcNo</b></td>
                            @foreach (var item2 in Model.butiranwariList)
                            {
                                <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(b) (d) TARIKH DAN MASA JASAD SIMATI DISERAHKAN: <b>@item2.DateTimeRequest</b></td>
                            }
                            </tr>
                    </tbody>
                </table>
            </li>
        }
    </ul>

    <ul class="list-group">
        @foreach (var item in Model.butiranpengurusmayatList)
        {
            <li class="list-group-item active">BUTIRAN PENGURUS MAYAT</li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(a) NAMA SYARIKAT/INDIVIDU: <b>@item.Syarikat_Individu</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(b) NAMA PEMANDU: <b>@item.Pemandu</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
            <li class="list-group-item">
                <table width="100%" style="border:none;">
                    <tbody>
                        <tr>
                            <td style="padding-left: 0px; width:33%; border:none;">(c) NO. TELEFON: <b>@item.PhoneNO</b></td>
                            <td style="padding-left: 0px; width:33%; border:none;" colspan="2">(d) NO. PENGENALAN: <b>@item.NoIC</b></td>
                        </tr>
                    </tbody>
                </table>
            </li>
        }
    </ul>

</div>
