@model MoIS.Models.deceased

@{
    ViewBag.Title = "Form A";
    if (Session["maID"] == null)
    {
        Response.Redirect("~/Login/Index");

    }
}

<div class="container" style="width:60%;margin-top:2%">


    <p>
        @Html.ActionLink("Convert View To PDF", "PrintViewToPdf", new { id = Model.DeceasedID })
    </p>
    <div>
        <h4>Deceased</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DeceasedName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeceasedName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NoIC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NoIC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfWad)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfWad)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfDeath)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfDeath)
            </dd>
            <dd>123
                <table>
                <thead>
                    <tr><th>A</th><th>B</th></tr>
                </thead>
                <tbody>
                    <tr><td>123</td><td>456</td></tr>
                </tbody>
                </table>
            </dd>
        </dl>
        
    </div>

    @Html.ActionLink("Print Details View To PDF", "PrintPartialViewToPdf", new { id = Model.DeceasedID })

</div>
