@model IEnumerable<MoIS.Models.medicalassistant>
<link href="@Url.Content("~/Content/jquery.datatables.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

@{
    ViewBag.Title = "Medical Stuff List";
    if (Session["maID"] == null)
    {
        Response.Redirect("~/Login/Index");

    }
}

<h2>Medical Stuff List</h2>

<p>
    @Html.ActionLink("Create New Stuff", "Create", "MedicalAssitant", new { @class = "btn btn-primary" })
    @Html.ActionLink("Statistics", "Statistics", "MedicalAssitant", new { @class = "btn btn-danger" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaIcNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>Reset Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaIcNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @Html.ActionLink("Reset Password", "ResetPassword/" + item.MaID, "MedicalAssistant", new { @class = "btn btn-danger", onClick = "javascript:return confirm_submit();" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit/" + item.MaID, "MedicalAssistant", new { id = item.MaID }) |
                    @Html.ActionLink("Details", "Details/" + item.MaID, "MedicalAssistant", new { id = item.MaID })
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="panel-body">
    <div>
        <canvas id="chart_6" height="191"></canvas>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>
<script src="~/Scripts/jQuery.flashMessage.js"></script>
<script src="~/Scripts/jquery.cookie.js"></script>

<script>
    $('.table').dataTable({
        stateSave: true
    });
    function confirm_submit() {
        var confrm;
        confrm = window.confirm("Confirm reset?");

        return confrm;
    }
</script>